.team {
  .filler {
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }
  .under-dev-svg {
    width: 40vw;
    height: 20vw;
    margin: 5vw 0 2vw 0;
  }
  .info {
    font-family: Poppins;
    font-size: 2vw;
    font-weight: 700;
    color: #f1c0c0;
    letter-spacing: 3px;
  }
}
