.navbar {
  background: #ffffff;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 10px 10px;
  text-align: right;
}

.header .logo {
  width: 2.9rem;
  height: 2.9rem;
  margin-left: 3.1vw;
}
.header .nav-link {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0vw 1.5vw 0vw 1.5vw;
  color: #545454;
}

.header .nav-link:hover {
  color: #545454;
}
.header .login-button {
  margin: 0vw 3.1vw 0vw 6vw;
}
.header .login-button-text {
  background: linear-gradient(to right, #ff5454 40%, #fdb797 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header .navbar-toggler {
  margin: 0vw 1.5vw 0vw 1.5vw;
  padding: 0;
}
.header .user-profile {
  display: flex;
  align-items: center;
}
.header .user-profile-image {
  width: 2.25rem;
  border-radius: 50%;
}
.header .logout-button {
  margin: 0vw 3.1vw 0vw 8vw;
}
@media screen and (max-width: 991px) {
  .header .login-button {
    margin: 0vw 1.5vw 0vw 1.5vw;
  }
}
